@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Figtree';
  src: url("./styles/fonts/Figtree-Regular.ttf") format("truetype");
}



html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

#root {
  height: 100%;
}


* {
  font-family: Figtree
}

